<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700723661373-9o145cic91qv46alq1qvdqhgn9m6c0qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700723661373-9o145cic91qv46alq1qvdqhgn9m6c0qk</string>
	<key>API_KEY</key>
	<string>AIzaSyBuwC-q_3Res-kQZgRbFhoQkinB2D5-cW8</string>
	<key>GCM_SENDER_ID</key>
	<string>700723661373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.app</string>
	<key>PROJECT_ID</key>
	<string>sangdaero</string>
	<key>STORAGE_BUCKET</key>
	<string>sangdaero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700723661373:ios:6d178baf2944c21821b854</string>
	<key>DATABASE_URL</key>
	<string>https://sangdaero.firebaseio.com</string>
</dict>
</plist>